# Compiled
*.elc

# Packaging
.cask
.DS_Store

# my emacs world custom
*.cache
server
elpa
eshell
ac-dict
ac-comphist.dat
auto-save-list
ede-projects.el
.org-id-locations
bookmarks
url
config/*.el~
session.*

.emacs.desktop
.emacs.desktop.lock
.session
.smex-items
ido.last
org-clock-save.el
projectile-bookmarks.eld
recentf
tramp
history
custom.el

CVS
.svn
*~
.cvsignore
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
\#*
/elpa
/elpa-*
site-lisp/package/
/swank
/.mc-lists.el
/var
/.sqli_history
/frame-restore-parameters
/.achievements
/.bookmarks.el
/history
/helm-adaptive-history
/thumbs/
/emms/
/.smex-items
/image-dired/
/eshell
/.cask/
/.sx/
/org-clock-save.el
/ditaa*.jar
/ido.last
/recentf
/viper
/projectile-bookmarks.eld
/anaconda-mode/
/.historian
/.uptimes.el
org-*
